*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

/* header */

.header-container{
  background-color: #E5E4E2;
  border-bottom: 2px solid black;
  overflow-x: hidden;
}
.header-logo{
 font-size:50px;
 padding-left:24px
}
.header-heading{
  font-size:36px;
  padding-top:16px;
 
}
.header-input{
  border-radius:32px;
  margin-top:16px;
}
.header-btn-display{
  display:flex;
}
.header-btn{
  margin-top:16px;
  background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  border-radius:24px;
  margin-left:12px;
  color:white;
  font-size: 16px;
}
.header-btn-icon{
  font-size:16px;
  padding-top:5px
}
.header-btn:hover{
opacity:0.7;
color:black
}
.header-btn-inside{
  display: flex;
}

/* navbar */

.nav-container{
  overflow-x: hidden;
}

.navbar-btn{
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);  
  border-radius: 16px;
  color:white;
}
.navbar-btn:hover{
  opacity:0.7;
color:black
}
/* .box-1{
  background-color: white;
  padding:36px
} */

/* home */

.home-container{
  overflow-x: hidden;
}

.home-heading-1{
  font-size:28px;
  margin-top:24px;
  margin-bottom:24px;
  background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  border-radius: 16px;
  color:white;
  width:500px;
}
.home-heading-1:hover{
  color:black !important;
}
.home-heading-2{
  font-size:28px;
  margin-top:32px;
  margin-bottom:24px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  border-radius: 16px;
  color:white;
  width:500px;
}
.inside-btn{
  display: flex;
  justify-content: space-between;
}
.top-pick-carousel-col{
  margin-top:24px;
  margin-bottom:24px;
  overflow:hidden !important;
}
.card-display{
  transition: transform .2s;
  width:100%;
  /* border: 1px solid black !important; */
  border-radius: 24px !important;
  /* margin-bottom:80px; */
}
.card-display:hover{
  /* display:block !important; */
  transform: scale(0.9) !important;
}
.top-pick-carousel-col:hover{
  opacity:0.9;
}
.top-pick-image{
  width:100%;
  height:150px;
  object-fit: fill;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.top-pick-row{
  margin-top:16px;
  /* background-color: #f39f86; */
  /* background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
position:relative;

/* background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
}
.related-p-row{
  /* background: url("images/relatedimage.jpg"); */
  height:500px;
  overflow-y: scroll;
  direction: rtl;

  background-color: #D3D3D3;
}
.related-p-image{
  height:100px;
  width:100px;
  object-fit: fill;
}
.related-p-div{
  display:flex;
}
.related-p-heading{
  font-size: 16px;
  padding-left:16px
}
.top-related-p-heading{
  font-size: 32px;
  margin:24px
}
.video-tag{
  width:100%;
  height:200px;
}

/* tabs */

.tab-column{
  margin-left: 16px;
  margin-bottom:24px;
}
.mobile-tab{
  display: none !important;
}
rc-tabs {
  border: none !important;
}
.rc-tabs-tab {
  padding: 5px;
  text-transform: capitalize;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
}
.rc-tabs-tab.rc-tabs-tab-active {
  background: ececec;
  color: #00a6f8;
}
.rc-tabs-ink-bar {
  background: #59c7fd !important;
}
.rc-tabs-content-holder {
  padding: 10px;
  background: #ececec;
}
.tab-card{
  display: flex !important;
}
.tab-card-image{
  width:200px;
  height:200px;
  object-fit: fill;
}
.view-div{
  display: flex;
}

@media only screen and (max-width:393px){
  .header-heading{
    font-size: 28px;
  }
  .header-input{
    width:320px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:5px;
    font-size: 12px;
  }
  .home-heading-1{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 12px;
  }
  .first-card-btn{
    font-size: 12px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 12px;
  }
  .tab-card-btn{
    font-size: 12px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 12px;
  }
  .tab-column{
    margin-bottom:16px
  }
}
@media only screen and (min-width:393px) and (max-width:414px){
  .header-heading{
    font-size: 28px;
  }
  .header-input{
    width:350px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:10px;
    font-size: 12px;
  }
  .home-heading-1{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 12px;
  }
  .first-card-btn{
    font-size: 12px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 12px;
  }
  .tab-card-btn{
    font-size: 12px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 12px;
  }
  .tab-column{
    margin-bottom:16px
  }
}
/* @media only screen and (min-width:415px) and (max-width:540px){
  .header-input{
    width:430px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:16px;
    font-size: 16px;
  }
  .home-heading-1{
    width:250px;
    font-size:16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:250px;
    font-size:16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 16px;
  }
  .first-card-btn{
    font-size: 16px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 16px;
  }
  .tab-card-btn{
    font-size: 16px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 16px;
  }
  .tab-column{
    margin-bottom:16px
  }
} */