*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

/* header */

.header-firstrow{
  background-color: white;
  border-bottom: 2px solid black;
  /* overflow-x: hidden; */
}
.header-logo{
 font-size:50px;
 padding-left:24px
}
.header-logo-link{
  text-decoration: none;
  color:black;
}
.header-heading{
  font-size:36px;
  padding-top:16px;
 
}
.header-input{
  border-radius:32px;
  margin-top:16px;
}
.header-btn-display{
  display:flex;
}
.header-btn{
  margin-top:16px;
  background-color: white;
  /* border-radius:24px; */
  margin-left:12px;
  color:black;
  font-size: 16px;
  font-weight: bold;
}
.header-btn-icon{
  font-size:16px;
  padding-top:5px
}
.header-btn:hover{
opacity:0.7;
color:black
}
.header-btn-inside{
  display: flex;
}

/* navbar */

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-container{
width: 1055px
}
.dropdown-toggle::after {
  display:none;
}
/* .dropdown-menu{
  border-radius:24px
} */

.navbar-btn{
  background-color: white;  
  border-radius: 16px;
  color: black !important;
  font-weight: bold;
  margin:5px;
}
.navbar-btn:hover{
  opacity:0.7;
color:black
}
.dropdown-item {
  color:black;
  font-weight: bold;
}

/* home */
.timer-div{
  background-color: black;
  opacity:0.7;
margin-top:-16px
}
.top-slider-heading{
  font-size: 36px;
  color: black;
  margin-top: 80px;
  margin-bottom: 16px;
  font-weight: bold;
  font-style: italic;
}
.top-slider-heading2{
  font-size: 36px;
  color: black;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
  font-style: italic;
}
.top-slider-btn-span{
color: #FF2400
}
.topslider-btn{
  color:black;
  background-color: #FF8F00;
  /* border-radius: 12px; */
  /* margin-bottom: -48px; */
  /* position: absolute;
  top:12px;
  right:12px; */
}
/* .topslider-btn:hover{
  background-color: #FF8F00;
  opacity:0.9;
} */
.topslider-btn2{
  color:black;
  background-color: #FF8F00;
  /* border-radius: 12px; */
  /* margin-bottom: -48px; */
  /* position: absolute;
  top:12px;
  left:12px; */
}
/* .topslider-btn2:hover{
  background-color: #FF8F00;
  opacity:0.9;
} */
.slider-btn-display{
  display: flex;
  justify-content: space-around;
}
.carousel-figure{
  height:150px
}
.slider-container{
  margin-top: 160px;
}
.topslider-figure{
  height:250px;
}
.top-slider-image{
  height:100%;
  width:100%;
  object-fit: cover;
  /* padding:6px; */
  /* box-shadow: 1px 1px 1px 1px white; */
  /* border-radius: 16px; */
  border: 1px solid grey !important;
}

.carousel-image-div{
  padding:12px;
  margin-top:10px;
  /* position:relative */
}
.know-how-card-div{
  box-shadow: 0px 0px 5px 0px black;
}
.live-btn{
  background-color: #FF2400;
  border: none !important;
  width: 100px;
  border-radius: 24px;
  color: white;
  height:40px;
}
.live-btn-div{
  position: absolute;
  top:10px;
  left:5px;
}
.topslider-logo{
  height:100%;
  width:350px !important;
  object-fit: cover;
  margin-top: 8px;
  
}
.topslider-logo-display{
  display: flex;
  justify-content: space-around;
  background-color: #FF8F00;
}
.top-second-slider-container{
  margin-top: 64px;
}
.second-slider-btn{
  color:black;
  background-color: yellow;
}
.second-slider-card-btn-div{
  display: flex;
  justify-content: space-around;
}
.top-tab-container{
  margin-top: 48px;
}
.video-class{
  height:300px !important;
  /* width:300px; */
}
.tab-all-video{
  width:100% !important;
  height:560px !important;
  margin-top:-157px;
}
.video-main-div{
  position: relative;
}
.video-inside-content{
  position: absolute;
  bottom:70px;
  left:20px;
}
.tab-all-figure{
  width: 60px;
  height:60px;
}
.count-main-display{
  display: flex;
}
.count-inside-display{
  display: flex;
  margin-left: 16px;
}
.liveadd{
  font-size: 20px;
  font-weight: bold;
}
.sellerid{
  font-size: 18px;
}
.eye-icon{
  font-size: 20px;
  margin-top: -5px;
}
.seller-count{
  font-size: 18px;
  margin-left: 8px;
}
.tab-all-image{
  width:100%;
  height:100%;
  object-fit: fill;
  border-radius: 50%;
}
.tab-all-card-display{
  display: flex;
}
.risingstar-figure{
  width:100%;
  height:200px;
}
.risingstar-image{
  width:100%;
  height:100%;
  object-fit: cover;
}
.tab-all-username{
  font-size: 16px;
  margin-left:8px;
  margin-top:12px
}
.video-slider-card{
  margin-top:36px
}
.risingstar-card{
  margin-top: 36px;
  margin-bottom: 16px
}
.rising-star-card-title{
  font-size: 16px;
  font-weight: bold;
}
.risingstar-review-div{
  display: flex;
  background-color: #FF8F00;
  width:50px;
  height:30px;
  text-align: center;
}
.risingstar-icon{
  font-size: 12px;
  color: white;
  margin-top:5px;
  margin-left: 6px;
}
.risingstar-para{
  font-size: 12px;
  color: white;
  margin-top:5px;
  margin-left: 4px;
}
.home-container{
  overflow-x: hidden;
}
.top-pick-heading{
  font-size:28px;
  margin-top:200px;
  margin-bottom:36px;
  margin-left:18px;
  color: black;
  font-weight: bold;
}
.top-pick-slider-div{
  margin-bottom: 36px
}
.ranking-heading{
  font-size:28px;
  margin-top:64px;
  margin-bottom:36px;
  /* margin-left:18px; */
  border-radius: 16px;
  color:black;
  font-weight: bold;
}
.today-story-heading{
  font-size:28px;
  margin-top:64px;
  margin-bottom:36px;
  /* margin-left:18px; */
  border-radius: 16px;
  color:black;
  font-weight: bold;
}
.ranking-tab-div{
  margin-left:18px;
}
.wholevibe-heading{
  font-size:28px;
  /* margin-top:64px; */
  margin-bottom:36px;
  /* margin-left:18px; */
  border-radius: 16px;
  color:black;
  font-weight: bold;
}
.springfestival-heading{
  font-size:28px;
  margin-top:64px;
  margin-bottom:36px;
  /* margin-left:18px; */
  border-radius: 16px;
  color:black;
  font-weight: bold;
}
.home-heading-3{
  font-size:28px;
  /* margin-top:36px; */
  margin-bottom:24px;
  margin-left:36px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  border-radius: 16px;
  color:white;
  width:500px;
}

.card-display{
  transition: transform .2s;
  width:100%;
  border-radius: 24px !important;
  /* margin-top:88px */
}
.card-display:hover{
  /* display:block !important; */
  transform: scale(0.9) !important;
}
.top-pick-carousel-col:hover{
  opacity:0.9;
}
.top-pick-image{
  width:100%;
  height:250px;
  object-fit: fill;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.related-p-row{
  /* background: url("images/relatedimage.jpg"); */
  height:500px;
  overflow-y: scroll;
  direction: rtl;
  background-color: #D3D3D3;
}
.related-p-image{
  height:100px;
  width:100px;
  object-fit: fill;
}
.related-p-div{
  display:flex;
}
.related-p-heading{
  font-size: 16px;
  padding-left:16px
}
.top-related-p-heading{
  font-size: 32px;
  margin:24px
}
.video-tag{
  width:100%;
  height:200px;
}


/* top tabs */

.tab-all-heading{
  font-size:16px;
  color:black;
}

/* tabs */

.desktop-tab{
  margin-bottom: 30px;
}
.tab-column{
  /* margin-left: 16px; */
  margin-bottom:24px;
}
.mobile-tab{
  display: none !important;
}
/* rc-tabs {
  border: none !important;
} */
.rc-tabs-tab {
  padding: 5px;
  text-transform: capitalize;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
}
.rc-tabs-tab.rc-tabs-tab-active {
  background: ececec;
  color: #00a6f8;
}
.rc-tabs-ink-bar {
  background: #59c7fd !important;
}
.rc-tabs-content-holder {
  padding: 10px;
  background: #ececec;
}
.tab-card{
  display: flex !important;
}
.tab-card-image{
  width:200px;
  height:200px;
  object-fit: fill;
}
.view-div{
  display: flex;
}

 /* know how page */

 .know-how-heading{
   font-size:28px;
  margin-top:200px;
  margin-bottom:36px;
  /* margin-left:18px; */
  color: black;
  font-weight: bold;
 }
 .know-how-card{
   overflow: hidden;
 }
 .know-how-card-image{
   width: 100%;
   height:200px;
   object-fit: fill;
   transition: transform .2s;
 }
 .know-how-card-image:hover{
  transform: scale(1.1);
 }
.know-how-card-column{
  padding-bottom: 32px 
}
.know-how-card-display{
  display: flex;
  /* justify-content: space-around; */
}
.know-how-title-1{
  font-size: 16px;
}
.know-how-title-2{
  font-size: 15px;
}
.know-how-hits{
  font-size: 14px;
}
.know-how-scrap{
  font-size: 12px;
  padding-left:12px;
  padding-top:2px
}
.know-how-link{
  text-decoration: none;
  color:black
}

/* know how detail */

.know-how-detail-heading{
  font-size:28px;
  margin-top:200px;
  margin-bottom:36px;
  /* margin-left:18px; */
  color: black;
  font-weight: bold;
}
.know-how-detail-img{
  width:50px;
  height:50px;
  object-fit: fill;
  border: 1px solid black;
  border-radius: 50%;
}
.know-how-detail-display{
  display: flex;
  text-decoration: none;
  color: black;
}
.know-how-detail-subtitle{
  font-size: 18px;
  padding-left: 16px;
}
.know-how-detail-subtitle-1{
  font-size: 16px;
  padding-left:16px
}
.know-how-detail-top-display{
  display: flex;
  justify-content: space-between;
}
.follow-btn-div{
  display: flex;
}
.know-how-follow-btn{
padding-right:8px;
padding-top:1px
}
.know-how-detail-desc{
  margin-top:36px;
}
.know-how-product-image{
  height: 500px;
  width:100%;
  object-fit: fill;
  margin-top:24px;
  margin-bottom: 48px;
}
.know-how-product-image-div{
  position:relative
}
.know-how-product-image-icon{
  position: absolute;
  font-size: 36px;
  text-decoration: none;
  color:red;
  top:25px;
  right:25px
}
.know-how-detail-sidebar{
  background-color: white;
  height:500px
}
.sidebar-icons{
  top:200px;
  color:grey;
  font-size: 48px;
  left: 200px;
  text-decoration: none;
}
.sidebar-icons-1{
  top:250px;
  color:grey;
  font-size: 48px;
  left: 200px;
  text-decoration: none;
}
.sidebar-icons-2{
  top:300px;
  color:grey;
  font-size: 48px;
  left: 200px;
  text-decoration: none;
}
.sidebar-icons-3{
  top:350px;
  color:grey;
  font-size: 48px;
  left: 200px;
  text-decoration: none;
}
.sidebar-icons-4{
  top:400px;
  color:grey;
  font-size: 48px;
  left: 200px;
  text-decoration: none;
}
.user-tab-card-column{
  margin-top:10px
}
.user-info-column{
  margin-top:170px
}
.user-card{
  width:300px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #888888;
}
.user-card-heading{
  font-size: 36px;
}
.user-card-img{
  width:120px;
  height:120px;
  border-radius: 50%;
  border: 1px solid grey;
  margin-top:16px;
  margin-left:86px
}
.user-card-follow-maindiv{
  display: flex;
  margin-left:40px
}
.user-card-following-div{
  display: flex;
}
.user-card-following-para{
  font-size: 14px;
  font-weight: bold;
  color: grey;
}
.user-card-desc{
  font-size: 16px;
  padding-top:16px;
}
.user-tab{
  border: none !important;
  font-size: 20px;
}
.user-tab .rc-tabs-tab{
  font-size:24px;
  padding: 20px
}
.user-tab-content{
  margin:10px
}
.rc-tabs-content-holder{
  background-color: white;
}
.user-tab-desc-column{
  margin-top:40px
}
.user-tab-desc-card-header{
  display: flex;
}
.user-tab-desc-card-userimage{
  width:50px;
  height:50px;
  object-fit: fill;
  border-radius: 50%;
  margin-top:10px;
  /* margin-left:10px; */
  margin-right:10px;
  border: 1px solid grey;
}
.user-tab-desc-card-username{
  font-size: 16px;
  margin-top: 10px;
}
.user-tab-desc-card{
  border: none;
}
.user-tab-desc-card-img{
  width:100%;
  height:200px;
  object-fit: fill;
}
.user-tab-heading{
  font-size: 28px;
  margin-bottom:28px;
}
.qn-main-display{
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.qn-inside-main-display{
  display: flex;
}
.qn-heading-1{
  font-size: 16px;
  font-weight: bold;
}
.qn-heading-2{
  font-size: 16px;
  font-weight: bold;
  margin-left:16px
}
.qn-btn{
  border-radius: 24px;
}
.qn-main-heading{
  font-size: 24px;
    margin-top: 200px;
    margin-bottom: 36px;
    /* margin-left: 18px; */
    color: black;
    font-weight: bold;
    text-align: center;
}
.qn-sub-heading{
  font-size: 20px;
  margin-top: -24px;
  color: black;
  text-align: center;
  
}
.qn-input{
  /* width:500px; */
  width:100%;
  margin-top:24px;
  margin-bottom:48px
}
.qn-container{
  background-color: #F0F8FF;
}
.product-image{
width:100%;
height:400px;
object-fit: fill;
margin-top: 200px;
}
.product-main-heading{
  margin-top:200px;
  font-size: 24px;
  font-weight: bold;
  margin-left:100px
}
.product-desc{
  font-size: 16px;
  margin-left:100px;
  margin-top:16px;
}

/* footer */
.footer-logo{
  margin-top: 36px;
  font-weight: bold;
  color: black;
  font-size: 36px;
}
.footer-container{
  margin-top:72px;
  background-color: white;
  border-top: 2px solid black;
}
.footer-list{
  list-style: none;
}
.footer-list-heading{
  font-size: 24px;
  color:black;
  margin-top:24px;
  /* font-weight: bold; */
}
.footer-link{
  text-decoration: none;
  color: black;
  font-size: 20px;
 
}
.footer-link-list{
  padding-top:16px
}
.footer-icons-div{
  display: flex;
  justify-content: space-around;
  font-size: 36px !important;
  margin-top: 36px;
  margin-bottom: 36px;
}
.footer-icons{
  text-decoration: none !important;
  color: black;
}

@media only screen and (max-width:393px){
  .header-heading{
    font-size: 28px;
  }
  .header-input{
    width:320px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:5px;
    font-size: 12px;
  }
  .home-heading-1{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 12px;
  }
  .first-card-btn{
    font-size: 12px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 12px;
  }
  .tab-card-btn{
    font-size: 12px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 12px;
  }
  .tab-column{
    margin-bottom:16px
  }
}
@media only screen and (min-width:393px) and (max-width:414px){
  .header-heading{
    font-size: 28px;
  }
  .header-input{
    width:350px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:10px;
    font-size: 12px;
  }
  .home-heading-1{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:220px;
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 12px;
  }
  .first-card-btn{
    font-size: 12px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 12px;
  }
  .tab-card-btn{
    font-size: 12px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 12px;
  }
  .tab-column{
    margin-bottom:16px
  }
}
@media only screen and (min-width:415px) and (max-width:540px){
  .header-input{
    width:430px;
    margin-top:0px;
  }
  .header-btn{
    margin-left:16px;
    font-size: 16px;
  }
  .home-heading-1{
    width:250px;
    font-size:16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-2{
    width:250px;
    font-size:16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title-1{
    font-size: 16px;
  }
  .first-card-btn{
    font-size: 16px;
  }
  .desktop-tab{
    display: none !important;
  }
  .mobile-tab{
    display: block !important;
  }
  .tab-card-title{
    font-size: 16px;
  }
  .tab-card-btn{
    font-size: 16px;
  }
  .tab-card-image{
    width: 120px;
    height:150px;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-size: 16px;
  }
  .tab-column{
    margin-bottom:16px
  }
} 